In [1]:
import pandas as pd
import numpy as np

In [13]:
s = pd.read_csv(r'C:\Users\jayan\Downloads\archive\pokemon_data.csv')

In [15]:
s.head()

,dexnum,name,generation,type1,type2,species,height,weight,ability1,ability2,...,catch_rate,base_friendship,base_exp,growth_rate,egg_group1,egg_group2,percent_male,percent_female,egg_cycles,special_group
0,1,Bulbasaur,1,Grass,Poison,Seed Pokémon,0.7,6.9,Overgrow,Chlorophyll,...,45,50,64,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
1,2,Ivysaur,1,Grass,Poison,Seed Pokémon,1.0,13.0,Overgrow,Chlorophyll,...,45,50,142,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
2,3,Venusaur,1,Grass,Poison,Seed Pokémon,2.0,100.0,Overgrow,Chlorophyll,...,45,50,236,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
3,4,Charmander,1,Fire,NaN,Lizard Pokémon,0.6,8.5,Blaze,Solar Power,...,45,50,62,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary
4,5,Charmeleon,1,Fire,NaN,Flame Pokémon,1.1,19.0,Blaze,Solar Power,...,45,50,142,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary

In [21]:
s.loc[1:5,['type2','type1','weight']]

    type2  type1  weight
1  Poison  Grass    13.0
2  Poison  Grass   100.0
3     NaN   Fire     8.5
4     NaN   Fire    19.0
5  Flying   Fire    90.5

In [25]:
s.loc[s['type2']=='poison']

Empty DataFrame
Columns: [dexnum, name, generation, type1, type2, species, height, weight, ability1, ability2, hidden_ability, hp, attack, defense, sp_atk, sp_def, speed, total, ev_yield, catch_rate, base_friendship, base_exp, growth_rate, egg_group1, egg_group2, percent_male, percent_female, egg_cycles, special_group]
Index: []

[0 rows x 29 columns]

In [11]:
ss = pd.read_csv('C:\\Users\\jayan\\Downloads\\archive\\pokemon_data.csv')
ss.shape

(1025, 29)

In [14]:
ss.describe()

,dexnum,generation,height,weight,hp,attack,defense,sp_atk,sp_def,speed,total,catch_rate,percent_male,percent_female
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,870.000000,870.000000
mean,513.000000,4.741463,1.211610,66.981659,70.184390,77.521951,72.507317,70.080976,70.205854,67.186341,427.686829,94.927805,54.928161,45.071839
std,296.036315,2.633633,1.248167,121.275372,26.631054,29.782541,29.286972,29.658378,26.639329,28.717227,112.770735,76.108415,20.308375,20.308375
min,1.000000,1.000000,0.100000,0.100000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,175.000000,3.000000,0.000000,0.000000
25%,257.000000,3.000000,0.500000,8.500000,50.000000,55.000000,50.000000,47.000000,50.000000,45.000000,325.000000,45.000000,50.000000,50.000000
50%,513.000000,5.000000,1.000000,28.000000,68.000000,75.000000,70.000000,65.000000,67.000000,65.000000,450.000000,60.000000,50.000000,50.000000
75%,769.000000,7.000000,1.500000,70.000000,85.000000,100.000000,90.000000,90.000000,86.000000,88.000000,508.000000,140.000000,50.000000,50.000000
max,1025.000000,9.000000,20.000000,999.900000,255.000000,181.000000,230.000000,173.000000,230.000000,200.000000,720.000000,255.000000,100.000000,100.000000

In [34]:
ss.loc[ss['weight']>18]
ss.loc[(ss['weight']>20) & (ss['height']>20)]

Empty DataFrame
Columns: [dexnum, name, generation, type1, type2, species, height, weight, ability1, ability2, hidden_ability, hp, attack, defense, sp_atk, sp_def, speed, total, ev_yield, catch_rate, base_friendship, base_exp, growth_rate, egg_group1, egg_group2, percent_male, percent_female, egg_cycles, special_group]
Index: []

[0 rows x 29 columns]

In [45]:
ss.loc[1:2]# it show 1 is starting row and 2 is ending row
ss.at[1000,'name'] # it will show the what isthe that postion

'Wo-Chien'

In [46]:
ss[ss['dexnum']>1000] it will show the above

,dexnum,name,generation,type1,type2,species,height,weight,ability1,ability2,...,catch_rate,base_friendship,base_exp,growth_rate,egg_group1,egg_group2,percent_male,percent_female,egg_cycles,special_group
1000,1001,Wo-Chien,9,Dark,Grass,Ruinous Pokémon,1.5,74.2,Tablets of Ruin,NaN,...,6,0,285,Slow,Undiscovered,NaN,NaN,NaN,50,Legendary
1001,1002,Chien-Pao,9,Dark,Ice,Ruinous Pokémon,1.9,152.2,Sword of Ruin,NaN,...,6,0,285,Slow,Undiscovered,NaN,NaN,NaN,50,Legendary
1002,1003,Ting-Lu,9,Dark,Ground,Ruinous Pokémon,2.7,699.7,Vessel of Ruin,NaN,...,6,0,285,Slow,Undiscovered,NaN,NaN,NaN,50,Legendary
1003,1004,Chi-Yu,9,Dark,Fire,Ruinous Pokémon,0.4,4.9,Beads of Ruin,NaN,...,6,0,285,Slow,Undiscovered,NaN,NaN,NaN,50,Legendary
1004,1005,Roaring Moon,9,Dragon,Dark,Paradox Pokémon,2.0,380.0,Protosynthesis,NaN,...,10,0,295,Slow,Undiscovered,NaN,NaN,NaN,50,Ancient Paradox
1005,1006,Iron Valiant,9,Fairy,Fighting,Paradox Pokémon,1.4,35.0,Quark Drive,NaN,...,10,0,295,Slow,Undiscovered,NaN,NaN,NaN,50,Future Paradox
1006,1007,Koraidon,9,Fighting,Dragon,Paradox Pokémon,2.5,303.0,Orichalcum Pulse,NaN,...,3,0,335,Slow,Undiscovered,NaN,NaN,NaN,50,Legendary
1007,1008,Miraidon,9,Electric,Dragon,Paradox Pokémon,3.5,240.0,Hadron Engine,NaN,...,3,0,335,Slow,Undiscovered,NaN,NaN,NaN,50,Legendary
1008,1009,Walking Wake,9,Water,Dragon,Paradox Pokémon,3.5,280.0,Protosynthesis,NaN,...,5,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Ancient Paradox
1009,1010,Iron Leaves,9,Grass,Psychic,Paradox Pokémon,1.5,125.0,Quark Drive,NaN,...,5,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Future Paradox
1010,1011,Dipplin,9,Grass,Dragon,Candy Apple Pokémon,0.4,4.4,Supersweet Syrup,Gluttony,...,45,—,—,Erratic,Dragon,Grass,50.0,50.0,—,Ordinary
1011,1012,Poltchageist,9,Grass,Ghost,Matcha Pokémon,0.1,1.1,Hospitality,Heatproof,...,120,—,—,Medium Fast,Amorphous,Mineral,NaN,NaN,—,Ordinary
1012,1013,Sinistcha,9,Grass,Ghost,Matcha Pokémon,0.2,2.2,Hospitality,Heatproof,...,60,—,—,Medium Fast,Amorphous,Mineral,NaN,NaN,—,Ordinary
1013,1014,Okidogi,9,Poison,Fighting,Retainer Pokémon,1.8,92.0,Toxic Chain,Guard Dog,...,3,—,—,Slow,Undiscovered,NaN,100.0,0.0,—,Legendary
1014,1015,Munkidori,9,Poison,Psychic,Retainer Pokémon,1.0,12.2,Toxic Chain,Frisk,...,3,—,—,Slow,Undiscovered,NaN,100.0,0.0,—,Legendary
1015,1016,Fezandipiti,9,Poison,Fairy,Retainer Pokémon,1.4,30.1,Toxic Chain,Technician,...,3,—,—,Slow,Undiscovered,NaN,100.0,0.0,—,Legendary
1016,1017,Ogerpon,9,Grass,NaN,Mask Pokémon,1.2,39.8,Defiant,Embody Aspect,...,5,—,—,Slow,Undiscovered,NaN,0.0,100.0,—,Legendary
1017,1018,Archaludon,9,Steel,Dragon,Alloy Pokémon,2.0,60.0,Stamina,Sturdy,...,10,—,—,Medium Fast,Dragon,Mineral,50.0,50.0,—,Ordinary
1018,1019,Hydrapple,9,Grass,Dragon,—,1.8,93.0,Supersweet Syrup,Regenerator,...,10,—,—,Erratic,Dragon,Grass,50.0,50.0,—,Ordinary
1019,1020,Gouging Fire,9,Fire,Dragon,Paradox Pokémon,3.5,590.0,Protosynthesis,NaN,...,10,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Ancient Paradox
1020,1021,Raging Bolt,9,Electric,Dragon,Paradox Pokémon,5.2,480.0,Protosynthesis,NaN,...,10,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Ancient Paradox
1021,1022,Iron Boulder,9,Rock,Psychic,Paradox Pokémon,1.5,162.5,Quark Drive,NaN,...,10,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Future Paradox
1022,1023,Iron Crown,9,Steel,Psychic,Paradox Pokémon,1.6,156.0,Quark Drive,NaN,...,10,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Future Paradox
1023,1024,Terapagos,9,Normal,NaN,Tera Pokémon,0.2,6.5,Tera Shift,NaN,...,255,—,—,Slow,Undiscovered,NaN,50.0,50.0,—,Legendary
1024,1025,Pecharunt,9,Poison,Ghost,Subjugation Pokémon,0.3,0.3,Poison Puppeteer,NaN,...,3,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Mythical

In [62]:
#it will drop the that column permanently
#(ss.drop(labels='type2',axis=1,inplace=True)  )
# IF WE DROP the that colum but not permanently it will provide copy of after deleting that column not effectoriginal dataset
ss.drop(labels='type2',axis=1) #here inplace is false by default

,dexnum,name,generation,type1,species,height,weight,ability1,ability2,hidden_ability,...,catch_rate,base_friendship,base_exp,growth_rate,egg_group1,egg_group2,percent_male,percent_female,egg_cycles,special_group
0,1,Bulbasaur,1,Grass,Seed Pokémon,0.7,6.9,Overgrow,Chlorophyll,NaN,...,45,50,64,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
1,2,Ivysaur,1,Grass,Seed Pokémon,1.0,13.0,Overgrow,Chlorophyll,NaN,...,45,50,142,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
2,3,Venusaur,1,Grass,Seed Pokémon,2.0,100.0,Overgrow,Chlorophyll,NaN,...,45,50,236,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
3,4,Charmander,1,Fire,Lizard Pokémon,0.6,8.5,Blaze,Solar Power,NaN,...,45,50,62,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary
4,5,Charmeleon,1,Fire,Flame Pokémon,1.1,19.0,Blaze,Solar Power,NaN,...,45,50,142,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,1021,Raging Bolt,9,Electric,Paradox Pokémon,5.2,480.0,Protosynthesis,NaN,NaN,...,10,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Ancient Paradox
1021,1022,Iron Boulder,9,Rock,Paradox Pokémon,1.5,162.5,Quark Drive,NaN,NaN,...,10,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Future Paradox
1022,1023,Iron Crown,9,Steel,Paradox Pokémon,1.6,156.0,Quark Drive,NaN,NaN,...,10,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Future Paradox
1023,1024,Terapagos,9,Normal,Tera Pokémon,0.2,6.5,Tera Shift,NaN,NaN,...,255,—,—,Slow,Undiscovered,NaN,50.0,50.0,—,Legendary
1024,1025,Pecharunt,9,Poison,Subjugation Pokémon,0.3,0.3,Poison Puppeteer,NaN,NaN,...,3,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Mythical

In [65]:
# for assining or updating the value
ss.at[1024,'ability2']='generation'
ss.tail(1)

,dexnum,name,generation,type1,type2,species,height,weight,ability1,ability2,...,base_friendship,base_exp,growth_rate,egg_group1,egg_group2,percent_male,percent_female,egg_cycles,special_group,ability
1024,1025,Pecharunt,9,Poison,Ghost,Subjugation Pokémon,0.3,0.3,Poison Puppeteer,generation,...,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Mythical,generation

In [68]:
# crearting column by default entites
ss['num']='nan'
ss.head()

,dexnum,name,generation,type1,type2,species,height,weight,ability1,ability2,...,base_exp,growth_rate,egg_group1,egg_group2,percent_male,percent_female,egg_cycles,special_group,ability,num
0,1,Bulbasaur,1,Grass,Poison,Seed Pokémon,0.7,6.9,Overgrow,Chlorophyll,...,64,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary,nan,nan
1,2,Ivysaur,1,Grass,Poison,Seed Pokémon,1.0,13.0,Overgrow,Chlorophyll,...,142,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary,nan,nan
2,3,Venusaur,1,Grass,Poison,Seed Pokémon,2.0,100.0,Overgrow,Chlorophyll,...,236,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary,nan,nan
3,4,Charmander,1,Fire,NaN,Lizard Pokémon,0.6,8.5,Blaze,Solar Power,...,62,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary,nan,nan
4,5,Charmeleon,1,Fire,NaN,Flame Pokémon,1.1,19.0,Blaze,Solar Power,...,142,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary,nan,nan

In [76]:
# we creating another column basing on conditiom
ss.loc[ss['egg_cycles']==20,'moretime']=True

In [80]:
ss.loc[ss['egg_group1']=='Grass',['top_rated','most_watched']]=[True,True]

In [81]:
ss

,dexnum,name,generation,type1,type2,species,height,weight,ability1,ability2,...,egg_group2,percent_male,percent_female,egg_cycles,special_group,ability,num,moretime,top_rated,most_watched
0,1,Bulbasaur,1,Grass,Poison,Seed Pokémon,0.7,6.9,Overgrow,Chlorophyll,...,Monster,87.5,12.5,20,Ordinary,nan,nan,NaN,NaN,NaN
1,2,Ivysaur,1,Grass,Poison,Seed Pokémon,1.0,13.0,Overgrow,Chlorophyll,...,Monster,87.5,12.5,20,Ordinary,nan,nan,NaN,NaN,NaN
2,3,Venusaur,1,Grass,Poison,Seed Pokémon,2.0,100.0,Overgrow,Chlorophyll,...,Monster,87.5,12.5,20,Ordinary,nan,nan,NaN,NaN,NaN
3,4,Charmander,1,Fire,NaN,Lizard Pokémon,0.6,8.5,Blaze,Solar Power,...,Monster,87.5,12.5,20,Ordinary,nan,nan,NaN,NaN,NaN
4,5,Charmeleon,1,Fire,NaN,Flame Pokémon,1.1,19.0,Blaze,Solar Power,...,Monster,87.5,12.5,20,Ordinary,nan,nan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,1021,Raging Bolt,9,Electric,Dragon,Paradox Pokémon,5.2,480.0,Protosynthesis,NaN,...,NaN,NaN,NaN,—,Ancient Paradox,nan,nan,NaN,NaN,NaN
1021,1022,Iron Boulder,9,Rock,Psychic,Paradox Pokémon,1.5,162.5,Quark Drive,NaN,...,NaN,NaN,NaN,—,Future Paradox,nan,nan,NaN,NaN,NaN
1022,1023,Iron Crown,9,Steel,Psychic,Paradox Pokémon,1.6,156.0,Quark Drive,NaN,...,NaN,NaN,NaN,—,Future Paradox,nan,nan,NaN,NaN,NaN
1023,1024,Terapagos,9,Normal,NaN,Tera Pokémon,0.2,6.5,Tera Shift,NaN,...,NaN,50.0,50.0,—,Legendary,nan,nan,NaN,NaN,NaN
1024,1025,Pecharunt,9,Poison,Ghost,Subjugation Pokémon,0.3,0.3,Poison Puppeteer,generation,...,NaN,NaN,NaN,—,Mythical,generation,nan,NaN,NaN,NaN

In [97]:
ss.head(5)

,dexnum,name,generation,type1,type2,species,height,weight,ability1,ability2,...,base_exp,growth_rate,egg_group1,egg_group2,percent_male,percent_female,egg_cycles,special_group,ability,moretime
0,1,Bulbasaur,1,Grass,Poison,Seed Pokémon,0.7,6.9,NaN,Chlorophyll,...,64,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary,nan,NaN
1,2,Ivysaur,1,Grass,Poison,Seed Pokémon,1.0,13.0,NaN,Chlorophyll,...,142,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary,nan,NaN
2,3,Venusaur,1,Grass,Poison,Seed Pokémon,2.0,100.0,NaN,Chlorophyll,...,236,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary,nan,NaN
3,4,Charmander,1,Fire,NaN,Lizard Pokémon,0.6,8.5,NaN,Solar Power,...,62,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary,nan,NaN
4,5,Charmeleon,1,Fire,NaN,Flame Pokémon,1.1,19.0,NaN,Solar Power,...,142,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary,nan,NaN

In [100]:
#ss.drop(labels='most_watched',axis=1,inplace=True)
#applying funtion to allow you to apply funtion on axis of the dataframe
ss['height']=ss['weight'].apply(lambda x:'long' if x>120 else 'shoert')
ss

,dexnum,name,generation,type1,type2,species,height,weight,ability1,ability2,...,base_exp,growth_rate,egg_group1,egg_group2,percent_male,percent_female,egg_cycles,special_group,ability,moretime
0,1,Bulbasaur,1,Grass,Poison,Seed Pokémon,shoert,6.9,NaN,Chlorophyll,...,64,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary,nan,NaN
1,2,Ivysaur,1,Grass,Poison,Seed Pokémon,shoert,13.0,NaN,Chlorophyll,...,142,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary,nan,NaN
2,3,Venusaur,1,Grass,Poison,Seed Pokémon,shoert,100.0,NaN,Chlorophyll,...,236,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary,nan,NaN
3,4,Charmander,1,Fire,NaN,Lizard Pokémon,shoert,8.5,NaN,Solar Power,...,62,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary,nan,NaN
4,5,Charmeleon,1,Fire,NaN,Flame Pokémon,shoert,19.0,NaN,Solar Power,...,142,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary,nan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,1021,Raging Bolt,9,Electric,Dragon,Paradox Pokémon,long,480.0,NaN,NaN,...,—,Slow,Undiscovered,NaN,NaN,NaN,—,Ancient Paradox,nan,NaN
1021,1022,Iron Boulder,9,Rock,Psychic,Paradox Pokémon,long,162.5,NaN,NaN,...,—,Slow,Undiscovered,NaN,NaN,NaN,—,Future Paradox,nan,NaN
1022,1023,Iron Crown,9,Steel,Psychic,Paradox Pokémon,long,156.0,NaN,NaN,...,—,Slow,Undiscovered,NaN,NaN,NaN,—,Future Paradox,nan,NaN
1023,1024,Terapagos,9,Normal,NaN,Tera Pokémon,shoert,6.5,NaN,NaN,...,—,Slow,Undiscovered,NaN,50.0,50.0,—,Legendary,nan,NaN
1024,1025,Pecharunt,9,Poison,Ghost,Subjugation Pokémon,shoert,0.3,NaN,generation,...,—,Slow,Undiscovered,NaN,NaN,NaN,—,Mythical,generation,NaN

In [96]:
#mappingexisting values
ss['ability1']=ss['ability2'].map({'posion':'posion type','silver':'silver type'})

In [105]:
#replace the values
ss['type1'].replace('Grass','grasss',inplace=True)
ss.head(2)

,dexnum,name,generation,type1,type2,species,height,weight,ability1,ability2,...,growth_rate,egg_group1,egg_group2,percent_male,percent_female,egg_cycles,special_group,ability,moretime,type12
0,1,Bulbasaur,1,grasss,Poison,Seed Pokémon,shoert,6.9,NaN,Chlorophyll,...,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary,nan,NaN,Grass(Poison)
1,2,Ivysaur,1,grasss,Poison,Seed Pokémon,shoert,13.0,NaN,Chlorophyll,...,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary,nan,NaN,Grass(Poison)

In [103]:
#adding new column based on calucluation
ss['type12']=ss['type1']+"("+ss['type2'].astype(str)+")"
#assigning to that to created colums:
ss=ss.assign{

dexnum                         1
name                   Bulbasaur
generation                     1
type1                      Grass
type2                     Poison
species             Seed Pokémon
height                    shoert
weight                       6.9
ability1                     NaN
ability2             Chlorophyll
hidden_ability               NaN
hp                            45
attack                        49
defense                       49
sp_atk                        65
sp_def                        65
speed                         45
total                        318
ev_yield               1 Sp. Atk
catch_rate                    45
base_friendship               50
base_exp                      64
growth_rate          Medium Slow
egg_group1                Grass
egg_group2               Monster
percent_male                87.5
percent_female              12.5
egg_cycles                    20
special_group           Ordinary
ability                      nan
moretime                     NaN
type12             Grass(Poison)
Name: 0, dtype: object

In [109]:
ss=ss.assign(
    is_older=lambda x:x['attack']<30,
    duration_hour=lambda x:x['defense']/50) #adding multiple new colums

In [115]:
# we rename the index   # we can rename permanently by providing inplace =True
ss.index.names=['pokena_id']   
# renaming column indesxs
ss.rename(columns={'dexnum':'pokenum'}) # we can rename more column name at a single query only

,pokenum,name,generation,type1,type2,species,height,weight,ability1,ability2,...,egg_group2,percent_male,percent_female,egg_cycles,special_group,ability,moretime,type12,is_older,duration_hour
pokena_id,,,,,,,,,,,,,,,,,,,,,
0,1,Bulbasaur,1,grasss,Poison,Seed Pokémon,shoert,6.9,NaN,Chlorophyll,...,Monster,87.5,12.5,20,Ordinary,nan,NaN,Grass(Poison),False,0.98
1,2,Ivysaur,1,grasss,Poison,Seed Pokémon,shoert,13.0,NaN,Chlorophyll,...,Monster,87.5,12.5,20,Ordinary,nan,NaN,Grass(Poison),False,1.26
2,3,Venusaur,1,grasss,Poison,Seed Pokémon,shoert,100.0,NaN,Chlorophyll,...,Monster,87.5,12.5,20,Ordinary,nan,NaN,Grass(Poison),False,1.66
3,4,Charmander,1,Fire,NaN,Lizard Pokémon,shoert,8.5,NaN,Solar Power,...,Monster,87.5,12.5,20,Ordinary,nan,NaN,Fire(nan),False,0.86
4,5,Charmeleon,1,Fire,NaN,Flame Pokémon,shoert,19.0,NaN,Solar Power,...,Monster,87.5,12.5,20,Ordinary,nan,NaN,Fire(nan),False,1.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,1021,Raging Bolt,9,Electric,Dragon,Paradox Pokémon,long,480.0,NaN,NaN,...,NaN,NaN,NaN,—,Ancient Paradox,nan,NaN,Electric(Dragon),False,1.82
1021,1022,Iron Boulder,9,Rock,Psychic,Paradox Pokémon,long,162.5,NaN,NaN,...,NaN,NaN,NaN,—,Future Paradox,nan,NaN,Rock(Psychic),False,1.60
1022,1023,Iron Crown,9,Steel,Psychic,Paradox Pokémon,long,156.0,NaN,NaN,...,NaN,NaN,NaN,—,Future Paradox,nan,NaN,Steel(Psychic),False,2.00
1023,1024,Terapagos,9,Normal,NaN,Tera Pokémon,shoert,6.5,NaN,NaN,...,NaN,50.0,50.0,—,Legendary,nan,NaN,Normal(nan),False,1.70
1024,1025,Pecharunt,9,Poison,Ghost,Subjugation Pokémon,shoert,0.3,NaN,generation,...,NaN,NaN,NaN,—,Mythical,generation,NaN,Poison(Ghost),False,3.20

In [123]:
#diplaying optionts to maximum we we use head(),tail(0 it only show what we set taht only
pd.set_option('display.max_rows',10)
pd.set_option('display.max_columns',5)
# we can reset by the that otionts

pd.reset_option('display')

In [127]:
# Grouping Data by one cloumn
g=ss.groupby('type1')
# group by two columns
g=ss.groupby(['type1','type2'])

In [149]:
#aggregation
#simple aggregation -calucluation avg
avg=ss.groupby('type1')['hp'].mean()
avg
#multiple aggrgation on single column
aa=ss.groupby('type1')['hp'].agg([np.mean,np.std])
aa
#different aggregation on different columns
ca=ss.groupby('type1').agg({'hp':np.mean,'attack':np.min,'defense':'sum'})
ca

C:\Users\jayan\AppData\Local\Temp\ipykernel_15392\1096386382.py:6: FutureWarning: The provided callable <function mean at 0x00000178F1215EE0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  aa=ss.groupby('type1')['hp'].agg([np.mean,np.std])
C:\Users\jayan\AppData\Local\Temp\ipykernel_15392\1096386382.py:6: FutureWarning: The provided callable <function std at 0x00000178F1216020> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  aa=ss.groupby('type1')['hp'].agg([np.mean,np.std])
C:\Users\jayan\AppData\Local\Temp\ipykernel_15392\1096386382.py:9: FutureWarning: The provided callable <function mean at 0x00000178F1215EE0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ca=ss.groupby('type1').agg({'hp':np.mean,'attack':np.min,'defense':'sum'})
C:\Users\jayan\AppData\Local\Temp\ipykernel_15392\1096386382.py:9: FutureWarning: The provided callable <function min at 0x00000178F1215620> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  ca=ss.groupby('type1').agg({'hp':np.mean,'attack':np.min,'defense':'sum'})

                 hp  attack  defense
type1
Bug       56.493976      10     5775
Dark      75.800000      28     3223
Dragon    79.594595      50     2783
Electric  64.779661      30     3664
Fairy     71.379310      20     2058
Fighting  76.075000      35     2894
Fire      69.833333      40     4411
Flying    70.000000      30      594
Ghost     61.800000      30     2642
Ground    74.475000      40     3436
Ice       75.709677      25     2288
Normal    77.525424       5     7063
Poison    70.571429      43     3059
Psychic   71.783333      20     4021
Rock      68.310345      35     5690
Steel     71.666667      24     3999
Water     70.865672      10     9418
grasss    65.766990      27     7302

In [150]:
#aggrigation with out grouping
ant=ss[['defense','attack']].describe()
ant

           defense       attack
count  1025.000000  1025.000000
mean     72.507317    77.521951
std      29.286972    29.782541
min       5.000000     5.000000
25%      50.000000    55.000000
50%      70.000000    75.000000
75%      90.000000   100.000000
max     230.000000   181.000000

In [154]:
#it count not null value count
a=ss.count()
a

dexnum             1025
name               1025
generation         1025
type1              1025
type2               526
species            1025
height             1025
weight             1025
ability1              0
ability2            859
hidden_ability      530
hp                 1025
attack             1025
defense            1025
sp_atk             1025
sp_def             1025
speed              1025
total              1025
ev_yield           1025
catch_rate         1025
base_friendship    1025
base_exp           1025
growth_rate        1025
egg_group1         1025
egg_group2          279
percent_male        870
percent_female      870
egg_cycles         1025
special_group      1025
ability            1025
moretime              0
type12             1025
is_older           1025
duration_hour      1025
dtype: int64

In [155]:
ss['type12'].value_counts()

type12
Normal(nan)      75
Water(nan)       74
Grass(nan)       47
Psychic(nan)     39
Fire(nan)        36
                 ..
Flying(Water)     1
Poison(Bug)       1
Dark(Normal)      1
Ghost(Dark)       1
Poison(Ghost)     1
Name: count, Length: 203, dtype: int64

In [160]:
#using a custom funtion for aggregation
def range_fun(series):
    return series.max()-series.min()

range_by_gen=ss.groupby('type1')['hp'].agg(range_fun)
range_by_gen

type1
Bug         106
Dark        188
Dragon      172
Electric    105
Fairy        91
Fighting    124
Fire         77
Flying       60
Ghost       130
Ground      120
Ice         140
Normal      225
Poison      105
Psychic     170
Rock         93
Steel        95
Water       160
grasss       93
Name: hp, dtype: int64

In [162]:
#renaming group aggregation results
renam=ss.groupby('type1')['hp'].agg([('average','mean'),('rat','std')])
renam

            average        rat
type1
Bug       56.493976  17.802695
Dark      75.800000  33.267238
Dragon    79.594595  30.638991
Electric  64.779661  20.274893
Fairy     71.379310  22.830765
Fighting  76.075000  27.776016
Fire      69.833333  19.502728
Flying    70.000000  19.880895
Ghost     61.800000  27.453490
Ground    74.475000  26.412883
Ice       75.709677  28.149830
Normal    77.525424  34.808318
Poison    70.571429  23.524915
Psychic   71.783333  30.873768
Rock      68.310345  22.389853
Steel     71.666667  21.867131
Water     70.865672  27.749359
grasss    65.766990  19.777291